
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> Codeception ###
/tests/Support/_generated/
/tests/_output/
.phpunit.result.cache
###< Codeception ###

###> PhpStorm ###
/.idea/
###< PhpStorm ###

###> Docker Local ###
/compose.override.yaml
###< Docker Local ###
